# backend artefacts
backend/target/
backend/.idea/
backend/*.iml
backend/data/

# frontend artefacts
ui/node_modules/
ui/build/
ui/.idea
ui/ui.iml
ui/package-lock.json

# Maven / Gradle wrapper
!backend/.mvn/**
!backend/mvnw*

# Secret configuration files
**/application-secret.yml
**/application-secret*.yml

.vscode
.idea
