.header-section {
  margin: 10pt;
}

.navbar-brand {
  margin-left: 10pt;
}

.separator-margin {
  margin: 30pt;
}

.img-gal {
  object-fit: contain;
}
/*.img-gal:hover {*/
/*  transform: scale(2);*/
/*  z-index: 99999;*/
/*}*/

.link-p {
  cursor: pointer;
}

.separator-margin-stepper-btn {
  margin-top: 40pt;
}

.separator-margin-3 {
  margin-top: 20pt;
  margin-left: 15pt;
}

.header-info-selected-images-line {
  position: sticky;
  top: 0;
  margin-left: 20pt;
  margin-top: 20pt;
  margin-bottom: 10pt;
  z-index: 999999;
}

.header-info-selected-images-line-td {
  width: 190pt;
}

.stepper-box {
  margin-bottom: 20pt;
}


/* Светлая тема */
.light {
  background-color: white;
  color: black;
  transition: all 0.3s ease-in;

  /* строка с данными о кол-ве выделенных изображений */
  .header-info-selected-images-line {
    background-color: white;
    transition: all 0.3s ease-in;
  }

  /* общий класс для всех кнопок с аттрибутом disabled для темы Light */
  .btn-stepper:disabled {
    appearance: none;
    background: white;
    color: #fff;
    transition: all 0.3s ease-in;
  }

}

/* Темная тема */
.dark {
  background-color: #262525;
  color: lightgray;
  transition: all 0.3s ease-in;

  /* строка с данными о кол-ве выделенных изображений */
  .header-info-selected-images-line {
    background-color: #262525;
    transition: all 0.3s ease-in;
  }

  /* общий класс для всех кнопок с аттрибутом disabled для темы Dark */
  .btn-stepper:disabled {
    appearance: none;
    background: #262525;
    color: #262525;
    transition: all 0.3s ease-in;
  }


  /* полоска прогресса степпера */
  .stepper-progress-line {
    color: lightgray;
  }
}

