.navbar-second-line{
  height: 40px !important;
  background-color: #293133;
}

.navbar-third-line{
  height: 40px !important;
  background-color: #343e40;
}

.header-section {
  margin: 10pt;
}

.navbar-brand {
  margin-left: 10pt;
}

.separator-margin {
  margin: 30pt;
}

.img-gal {
  object-fit: contain;
}
/*.img-gal:hover {*/
/*  transform: scale(2);*/
/*  z-index: 99999;*/
/*}*/

.link-p {
  cursor: pointer;
}

.separator-margin-stepper-btn {
  margin-top: 40pt;
}

.separator-margin-3 {
  margin-top: 20pt;
  margin-left: 15pt;
}

.header-info {
  position: sticky;
  top: 0;
  margin-left: 20pt;
  margin-top: 20pt;
  margin-bottom: 10pt;
  z-index: 999999;
  background-color: white;

}

.header-info-td {
  width: 190pt;
}

.stepper-box {
  margin-bottom: 20pt;
}