body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh; /* Занимаем всю высоту экрана */
}

#root {
  min-height: 100vh; /* Растягиваем корневой элемент на всю высоту */
  display: flex;
  flex-direction: column;
}

/* Убираем дефолтные фоны Bootstrap */
.jumbotron,
.container-fluid {
  background: inherit !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.global-theme-wrapper,
.global-theme-wrapper .jumbotron,
.global-theme-wrapper .container-fluid,
.global-theme-wrapper .card,
.global-theme-wrapper .modal-content {
  transition: all 0.3s ease-in;
}

.dark .jumbotron,
.dark .container-fluid,
.dark .card,
.dark .modal-content {
  background-color: #2e2e2e !important;
  color: #e0e0e0 !important;
  border-color: #404040;
}

.dark .table {
  color: #e0e0e0 !important;
}

.dark .form-control {
  background-color: #404040;
  color: #e0e0e0;
  border-color: #555;
}

.dark .MuiStepLabel-label {
  color: lightgray !important;
}

.dark .MuiStepper-root {
  background: #262525 !important;
}